body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    height: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.knobs {
    display: flex;
    gap: 5px;
}

.knobColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.knobColumn p {
    margin: 0;
}

.largeKnob {
    height: 75px;
}

.xKnob {
    margin: 15px 30px 0 0;
}

.yKnob {
    margin: 15px 0 0 30px;
}

.knobs button {
    background-color: #04AA6D;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 5px solid #04AA6D;
    border-radius: 5px;
    height: 45px;
}

.knobs .clearButton {
    padding: 0px 40px;
    margin: 30px 40px 0 0;
}

.knobs .randomButton {
    padding: 0px 29px;
    margin: 30px 0 0 40px;
}

.smallKnob {
    height: 60px;
}

.colorColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.colorSelection {
    width: 198px;
    height: 10px;
    background-color: #04AA6D;
    margin-top: 0px;
    border-radius: 10px;
}

.colorKnobs {
    display: flex;
    gap: 10px;
}

.footer {
    display: flex;
    height: 50px;
    justify-content: center;
}

.header h1 {
    letter-spacing: 1px;
    color:rgb(32, 32, 32);
}

.canvas {
    height: 500px;
    width: 800px;
    background-color: rgb(32, 32, 32);
    box-shadow: 3px 3px 10px 1px rgb(141, 141, 141);
}

.footer a {
    text-decoration: none;
    color: #04AA6D;
}
