body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header img {
    height: 38px;
    opacity: .8;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.header h1 {
    letter-spacing: 1px;
    color:rgb(32, 32, 32);
}

.canvas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20px);
    height: 500px;
    width: 800px;
    background-color: rgb(32, 32, 32);
    box-shadow: 3px 3px 10px 1px rgb(141, 141, 141);
}

.canvas > div {
    height: 20px;
    width: 20px;
    margin: 0;
    background-color: rgb(252, 252, 252);
}

.blinking {
    color: rgb(32, 32, 32);
    display: inline-block;
    animation: blinkingBackground .75s infinite;
    animation-direction: linear;
}

@keyframes blinkingBackground{
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
   100% { opacity: 1; }
}

.detectScroll {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
}

.detectScrollColor {
    display: flex;
    margin: 0 5px 0 20px;
}

.secretDivX, .secretDivY {
    width: 85px;
    max-height: 80px;
    overflow: scroll;
    z-index: 55555;
    opacity: 0;
}

.secretDivX {
    margin-left: -15px;
}

.secretDivY {
    margin: 0px -25px 0 5px;
}

.secretDivR, .secretDivG, .secretDivB {
    width: 73px;
    max-height: 70px;
    overflow: scroll;
    z-index: 55555;
    opacity: 0;
}

.scrollCanvasX, .scrollCanvasY, .scrollCanvasR, .scrollCanvasG, .scrollCanvasB {
  background-color: red;
  height: 1000px;
  width: 50px
}

.scrollItemX, .scrollItemY, .scrollItemR, .scrollItemG, .scrollItemB {
    background-color: blue;
    position: relative;
    top: 1px;
    width: 25px;
    min-height: 20px;
}

button {
    background-color: #04AA6D;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 5px solid #04AA6D;
    border-radius: 5px;
    height: 45px;
}

.clearButton {
    padding: 0px 40px;
}

.randomButton {
    padding: 0px 29px;
}

.knobs {
    display: flex;
    gap: 200px;
    margin-top: -115px;
    z-index: 1;
}

.knobColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.knobColumn p {
    position: relative;
    color: white;
    font-size: 12px;
    font-weight: bold;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.colorKnobs p {
    top: 11px;
}

.xColumn p, .yColumn p {
    top: 19px;
}

.largeKnob {
    height: 75px;
    position: absolute;
    transition: all .07s ease-in-out;
}

.largeKnobHover {
    height: 100px;
    margin-top: -10px;
    z-index: 1;
    transition: all .07s ease-in-out;
}

.xColumn {
    margin: 15px 60px 0 0;
}

.yColumn {
    margin: 15px 0 0 60px;
}

.smallKnob {
    height: 60px;
    position: absolute;
    transition: all .07s ease-in-out;
}

.smallKnobHover {
    height: 80px;
    margin-top: -10px;
    z-index: 1;
    transition: all .07s ease-in-out;
}

.jiggle {
    animation: jiggle 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
@keyframes jiggle {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.colorColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.colorSelection {
    width: 198px;
    height: 10px;
    background-color: #04AA6D;
    margin-top: 0px;
    border-radius: 10px;
}

.colorKnobs {
    display: flex;
    margin-left: 22.5px;
    gap: 65px;
}

.footer {
    display: flex;
    height: 50px;
    justify-content: center;
}

.footer a {
    text-decoration: none;
    color: #04AA6D;
}